<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.example.activities"
          android:versionCode="1"
          android:versionName="1.0">
    <uses-sdk
            android:minSdkVersion="6"
            android:targetSdkVersion="17" />
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <application
            android:label="@string/app_name"
            android:icon="@drawable/randomon_icon"
            android:allowBackup="true"
            android:theme="@style/Holo.Theme.Light.DarkActionBar">


        <activity android:name=".MainMenu"
                  android:label="@string/app_name"
                   android:theme="@style/Theme.Sherlock.Light.DarkActionBar" >
        <!--android:theme="@style/Holo.Theme.Light.DarkActionBar.NoActionBar"-->

            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <activity
                android:name=".Register"
                android:noHistory="true" >
        </activity>
        <activity android:name=".Login"/>
        <activity android:name=".PlayerDetails"/>
        <activity android:name=".MedicalSpot"/>
        <activity android:name=".Shop"/>
        <activity android:name=".Ranking"/>
        /* bruno - Escreve a seguir a este paragrafo*/
        /* Carmona - Escreve a seguir a este paragrafo*/
        /* Antonio- Escreve a seguir a este paragrafo*/
        /* Monteiro- Escreve a seguir a este paragrafo*/
        /* Paulo- Escreve a seguir a este paragrafo*/
        <activity android:name=".ChooseRandomon"/>
        <activity android:name=".Items"/>
        /* Telmo- Escreve a seguir a este paragrafo*/
        <activity android:name=".MyRandomons"/>
        <activity android:name=".Randomon_Info"/>
        /* Guilherme- Escreve a seguir a este paragrafo*/
    </application>
</manifest>
